.cabecalho__menu-humburguer {
    width: 24px;
    height: 24px;
    background-image: url("/sAssets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteiner {
    display: flex;
    align-items: center;
}

.conteiner__imagem {
    padding: 1em;
}