@import url("/Style/header.css");
@import url("./banner.css");
@import url("/Style/carrosel.css");
@import url("/Style/topicos.css");
@import url("/Style/contato.css");
@import url("/Style/footer.css");

:root {
    --bg-color: #ebecee;
    --white: #FFFFFF;
    --laranja: #eb9b00;  /* Orange!!!!!!*/
    --blue: #002F52;
    --blue-gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: 'Poppins';
    --second-font: "Josefin Sans";
}

body {
    background-color: var(--bg-color);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}   